
    
		
		<div class="page-content" id="create-company">
			<div class="container">
				<div class="page-header">
					<h2>CREATE COMPANY</h2>
					<h3>CAPITALIZATION, SHAREHOLDERS &amp; DIRECTORS</h3>
				</div>
				<div class="white-container">
					<ul class="nav nav-pills create-company-steps">
						<li class="step step1 completed">
							<a title="step1">
								CLIENT<br/>DETAILS
							</a>
						</li>
						<li class="step step2 completed">
							<a routerLink="/createCompany2" title="step2">
								INCORPORATION<br/>DETAILS
							</a>
						</li>
						<li class="step step3 completed">
							<a routerLink="/createCompany3" title="step3">
								INTELLECTUAL<br/>PROPERTY
							</a>
						</li>
						<li class="step step4 active">
							<a routerLink="/createCompany4" title="step4">
								CAPITALIZATION, SHAREHOLDERS<br/>&amp; DIRECTORS
							</a>
						</li>
						<li class="step step5">
							<a routerLink="/createCompany5" title="step5">
								UPLOAD<br/>DOCUMENTS
							</a>
						</li>
					</ul>
					<form [formGroup]="form4" id="form-create-company-step4" class="form-create-company">
						
						<div class="form-group row">
							<h3 class="col-sm-3">Capitalization</h3>
						</div>
						<div class="form-group row">
							<label for="proposed-company-name" class="col-sm-3 col-form-label">Nominal (Authorized) Share Capital</label>
							<div class="col-sm-9">
								<input type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true" class="form-control" id="proposed-company-name" formControlName="authorised_capital">
								<i class="fa fa-info-circle context-specific-info" aria-hidden="true"></i>
								<span class="context-specific-info">(Recommended minimum is Rs. 1,00,000/- (one lakh) consisting of equity shares of Rs.10/- each)</span>
								<div class="alert alert-danger"
								*ngIf="form4.controls['authorised_capital'].invalid && form4.controls['authorised_capital'].touched">
								<div *ngIf="form4.controls['authorised_capital'].errors.required">						
									Enter Nominal (Authorized) Share Capital
								</div>
								<div *ngIf="form4.controls['authorised_capital'].errors.min">						
									Enter Minimum (Authorized) Share Capital
								</div>
								</div>
							</div>
							
						</div>
						<div class="form-group row">
							<label for="proposed-company-name" class="col-sm-3 col-form-label">Paid up Share Capital</label>
							<div class="col-sm-9">
								<input type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true" class="form-control" formControlName="paid_up_capital">
								<!--<i class="fa fa-info-circle context-specific-info" aria-hidden="true"></i>
								<span class="context-specific-info">(Recommended minimum is Rs. 1,00,000/- (one lakh) consisting of equity shares of Rs.10/- each)</span> -->
								<div class="alert alert-danger"
								*ngIf="form4.controls['paid_up_capital'].invalid && form4.controls['paid_up_capital'].touched">
								<div *ngIf="form4.controls['paid_up_capital'].errors.required">						
									Enter Paid up Share Capital
								</div>
								
								</div>
							</div>
							
						</div>
						<div class="form-group row">
							<label for="shares-issued" class="col-sm-3 col-form-label">Number of Equity shares to be initially issued</label>
							<div class="col-sm-9">
							  <input type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true" class="form-control" formControlName="shares">
							  <div class="alert alert-danger"
								*ngIf="form4.get('shares').invalid && form4.get('shares').touched">
								Enter Number of Equity shares to be initially issued
								</div>
								
							</div>
						</div>
						<div class="form-group row">
							<label for="shares-issued" class="col-sm-3 col-form-label">Par Value of Equity Shares</label>
							<div class="col-sm-9">
								<input type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true" class="form-control" formControlName="shareValue">
								<i class="fa fa-info-circle context-specific-info" aria-hidden="true"></i>
								<span class="context-specific-info">(Recommended minimum is Rs.10/- each)</span>
								<div class="alert alert-danger"
								*ngIf="form4.get('shareValue').invalid && form4.get('shareValue').touched">
								<div *ngIf="form4.get('shareValue').errors.required">
								Enter Par Value of Equity Shares
								</div>
								<div *ngIf="form4.get('shareValue').errors.min">
									Enter minimum share value
								</div>
							</div>
							</div>
						</div>

						<!---------------------- Director block -------------------->
						<div class="form-group row">
							<h3 class="col-sm-3">Directors</h3>
						</div>						
						<div class="form-group row custom-radio-type">
							<label for="" class="col-sm-3 col-form-label">Do the proposed directors hold a DIN? </label>
							<div class="col-sm-9">
								<label class="custom-control custom-radio">
									<input id="radio1" type="radio" value="Yes" class="custom-control-input" formControlName="holdDin" (click)="Show()">
									<span class="custom-control-indicator"></span>
									<span class="custom-control-description">Yes</span>
								</label>

								<label class="custom-control custom-radio">
									<input id="radio2" type="radio" value="No" class="custom-control-input" formControlName="holdDin" (click)="Hide()">
									<span class="custom-control-indicator"></span>
									<span class="custom-control-description">No</span>
								</label>
								<br/><i class="fa fa-info-circle context-specific-info" aria-hidden="true"></i>
								<span class="context-specific-info">(Director Identification Number)</span>
								<div class="alert alert-danger"
								*ngIf="form4.get('holdDin').invalid && form4.get('holdDin').touched">
								Select valid option
								</div>
							</div>
						</div>
						
						<div class="form-group row director-details">
							<label for="director-address-1" class="col-sm-3 col-form-label">Details of directors:<br/><span class="context-specific-info">(Minimum - 2 directors, where one has to be a resident of India)</span></label>

						<div class="col-sm-9 director-info" formArrayName="director">

							<div *ngFor="let dirs of director.controls; let i=index">
								<div class="form-group" [formGroupName]="i">

									<label attr.for="{{i}}" class="col-form-label"><strong>Director #{{i+1}} </strong></label>
									<div *ngIf="hide">
									<input type="text" class="form-control" placeholder="Director {{i+1}} DIN" formControlName="DIN">
									<!-- <div class="alert alert-danger"
									*ngIf="director.controls[i].get('DIN')?.invalid && director.controls[i].get('DIN').touched">
									Enter DIN
									</div> -->
								</div>
									<input type="text" class="form-control" placeholder="Director {{i+1}} Name" formControlName="name">
									<div class="alert alert-danger"
									*ngIf="director.controls[i].get('name')?.invalid && director.controls[i].get('name').touched">
									Enter Director Name
									</div>
									<div formGroupName="address">
										<input type="text" class="form-control" placeholder="Director {{i+1}} Address line 1" formControlName="addressLine1">
										<div class="alert alert-danger"
									*ngIf="director.controls[i].controls.address.controls.addressLine1?.invalid && director.controls[i].controls.address.controls.addressLine1?.touched">
									Enter Address line
									</div>
										<input type="text" class="form-control" placeholder="Director {{i+1}} Address line 2" formControlName="addressLine2">
										<input type="text" class="form-control" placeholder="Director {{i+1}} Address line 3" formControlName="addressLine3">
										<div class="row">
											
											<div class="col-sm-4">
												<select class="custom-select" formControlName="country"
												(change)="getState(director.controls[i].get('address').get('country').value)">
												  <option selected>Select Country</option>
												  <option *ngFor="let country of contries" value={{country.id}}>
												  	{{country.name}}
												  </option>
												  <div class="alert alert-danger"
													*ngIf="director.controls[i].controls.address.controls.country.value == 'Select Country' && director.controls[i].controls.address.controls.country.touched">
													Select country
												  </div>
												</select>
											</div>
											<div class="col-sm-4">
												<select class="custom-select" formControlName="state"
												(change)="getCity(director.controls[i].controls.address.controls.state.value)">
												  <option selected>Select State</option>
												  <option *ngFor="let state of states" value={{state.id}}>
												  	{{state.name}}
												  </option>
												  <div class="alert alert-danger"
													*ngIf="director.controls[i].controls.address.controls.state?.value == 'Select State' && director.controls[i].controls.address.controls.state.touched">
													Select State
												  </div>
												</select>
											</div>
											<div class="col-sm-4">
												<select class="custom-select" formControlName="city">
												  <option selected>Select City</option>
												  <option *ngFor="let city of cities" value={{city.id}}>
												  	{{city.name}}
												  </option>
												  <div class="alert alert-danger"
													*ngIf="director.controls[i].controls.address.controls.city?.value == 'Select city' && director.controls[i].controls.address.controls.city.touched">
													Select city
												  </div>
												</select>
											</div>
											
										</div>
									</div>
									<div class="row">
											<div class="col-sm-4">
												<input type="text" class="form-control" placeholder="Pincode" formControlName="pincode">
												<div class="alert alert-danger"
													*ngIf="director.controls[i].controls.pincode?.invalid && director.controls[i].controls.pincode.touched">
													<div *ngIf="director.controls[i].controls.pincode.errors.required">
														Enter valid Pincode
													</div>
													<div *ngIf="director.controls[i].controls.pincode.errors.minlength">
													    Pincode must be at least 6 characters long.
													</div>
													<div *ngIf="director.controls[i].controls.pincode.errors.maxlength">
														Pincode must be 6 characters long.
                 									</div>
												</div>
											</div>
											<div class="col-sm-4">
												<input type="date" class="form-control" placeholder="DOB" formControlName="date_of_birth">
												<div class="alert alert-danger"
												*ngIf="director.controls[i].controls.date_of_birth?.invalid && director.controls[i].controls.date_of_birth.touched">
												Enter DOB
												</div>
											</div>
											<div class="col-sm-4">
												<input type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true" class="form-control" placeholder="Mobile" formControlName="contact_number">
												<div class="alert alert-danger"
												*ngIf="director.controls[i].controls.contact_number?.invalid && director.controls[i].controls.contact_number.touched">
												<div *ngIf="director.controls[i].controls.contact_number.errors.required">
											  		Enter phone number
											  	</div>
											  	<div *ngIf="director.controls[i].controls.contact_number.errors.pattern">
											  		Please enter a 10 digit number
											  	</div>
												</div>
											</div>
											<div class="col-sm-4">
												<input type="text" class="form-control" placeholder="Email" formControlName="email">
												<div class="alert alert-danger"
												*ngIf="director.controls[i].controls.email?.invalid && director.controls[i].controls.email.touched">
												Enter Valid Email
												</div>
											</div>
											
											<div class="col-sm-6">
												<select class="custom-select" formControlName="nationality">
												  <option selected>Select Nationality</option>
												  <option *ngFor="let country of contries" value={{country.id}}>
												  	{{country.name}}
												  </option>
												  <div class="alert alert-danger"
													*ngIf="director.controls[i].controls.address.controls.nationality?.value == 'Select Nationality' && director.controls[i].controls.address.controls.nationality.touched">
													Select Nationality
												  </div>
												</select>
											</div>
											
											<div class="col-sm-6">
												<input type="text" class="form-control" placeholder="Father's Name" formControlName="fathers_name">
												<div class="alert alert-danger"
												*ngIf="director.controls[i].controls.fathers_name?.invalid && director.controls[i].controls.fathers_name.touched">
												Enter Father's Name
												</div>
											</div>
											<div class="col-sm-6">
												<input type="text" class="form-control" placeholder="Mother's Name" formControlName="mothers_name">
												<div class="alert alert-danger"
												*ngIf="director.controls[i].controls.mothers_name?.invalid && director.controls[i].controls.mothers_name.touched">
												Enter Mother's Name
												</div>
											</div>
								
								</div>
							</div>

						</div>

								<button type="button" class="add-director-link" role="button" [disabled]="director.invalid" (click)="addDir()"><i class="fas fa-plus"></i> <strong>Add Director</strong></button>&nbsp;
									<button *ngIf="director.controls.length >2 "
									 type="button" class="add-director-link" role="button" (click)="removeDir(i)"><i class="fas fa-minus"></i> <strong>Remove Director</strong></button>

							</div> <!-- end of individual director information -->

						</div> 
						
						<!---------------------- Shareholder block -------------------->
						<div class="form-group row">
							<h3 class="col-sm-3">Shareholders</h3>
						</div>						
						<div class="form-group row custom-radio-type">
							<label for="" class="col-sm-3 col-form-label">Will there be any non-resident shareholders? </label>
							<div class="col-sm-9">
								<label class="custom-control custom-radio">
									<input id="radio-shareholder-1" type="radio" value="Yes" class="custom-control-input" formControlName="nonResident">
									<span class="custom-control-indicator"></span>
									<span class="custom-control-description">Yes</span>
								</label>

								<label class="custom-control custom-radio">
									<input id="radio-shareholder-2" type="radio" value="No" class="custom-control-input" formControlName="nonResident">
									<span class="custom-control-indicator"></span>
									<span class="custom-control-description">No</span>
								</label>
								<div class="alert alert-danger"
								*ngIf="form4.get('nonResident').invalid && form4.get('nonResident').touched">
								Select resident
								</div>
							</div>
						</div>						
						<div class="form-group row shareholder-details">
							<label for="shareholder-address-1" class="col-sm-3 col-form-label">Details of shareholders:<br/><span class="context-specific-info">(Minimum - 2 shareholders)</span></label>
							<div class="col-sm-9 shareholder-info" formArrayName="shareholder">
								<div *ngFor="let sh of shareholder.controls; let i=index;">
									<div [formGroupName]="i">
									<label for="" class="col-form-label"><strong>Shareholder #{{i+1}} </strong></label>
									<input type="text" class="form-control" placeholder="Shareholder {{i+1}} country of domicile" formControlName="domicile">
									<div class="alert alert-danger"
										*ngIf="shareholder.controls[i].controls.domicile?.invalid && shareholder.controls[i].controls.domicile.touched">
										Enter Shareholders Domicile
									</div>
									<input type="text" class="form-control" placeholder="Shareholder {{i+1}} Name" formControlName="name">
									<div class="alert alert-danger"
										*ngIf="shareholder.controls[i].controls.name?.invalid && shareholder.controls[i].controls.name.touched">
										Enter Shareholders Name
									</div>
									<div formGroupName="address">
										<input type="text" class="form-control" placeholder="Shareholder {{i+1}} Address line 1" formControlName="addressLine1">
										<div class="alert alert-danger"
										*ngIf="shareholder.controls[i].controls.address.controls.addressLine1?.invalid && shareholder.controls[i].controls.address.controls.addressLine1.touched">
										Enter Address of Shareholder
										</div>
										<input type="text" class="form-control" placeholder="Shareholder {{i+1}} Address line 2" formControlName="addressLine2">
										<input type="text" class="form-control" placeholder="Shareholder {{i+1}} Address line 3" formControlName="addressLine3">
										<div class="row">
											
											<div class="col-sm-4">
												<select class="custom-select" formControlName="country"  (change)="getState(shareholder.controls[i].get('address').get('country').value)">
												  <option selected>Select Country</option>
												  <option *ngFor="let country of contries" value={{country.id}} >
												  	{{country.name}}

												  </option>
												  <div class="alert alert-danger"
													*ngIf="shareholder.controls[i].controls.address.controls.country?.invalid && shareholder.controls[i].controls.address.controls.country.touched">
													Select Country
												  </div>
												</select>
											</div>
											<div class="col-sm-4">
												<select class="custom-select" formControlName="state" (change)="getCity(shareholder.controls[i].controls.address.controls.state.value)">
												  <option selected>Select State</option>
												  <option *ngFor="let state of states" value={{state.id}}>
												  	{{state.name}}
												  </option>
												  <div class="alert alert-danger"
													*ngIf="shareholder.controls[i].controls.address.controls.state?.invalid && shareholder.controls[i].controls.address.controls.state.touched">
													Select State
												  </div>
												</select>
											</div>
											<div class="col-sm-4">
												<select class="custom-select" formControlName="city">
												  <option selected>Select City</option>
												  <option *ngFor="let city of cities" value={{city.id}}>
												  	{{city.name}}
												  </option>
												  <div class="alert alert-danger"
													*ngIf="shareholder.controls[i].controls.address.controls.city?.invalid && shareholder.controls[i].controls.address.controls.city.touched">
													Select City
												  </div>
												</select>
											</div>
											
										</div>
									</div>
									<div class="row">
											<div class="col-sm-4">
												<input type="text" class="form-control" placeholder="Pincode" formControlName="pincode">
												<div class="alert alert-danger"
													*ngIf="shareholder.controls[i].controls.pincode?.invalid && shareholder.controls[i].controls.pincode.touched">
													Enter Valid Pincode
												</div>
											</div>
											<div class="col-sm-4">
												<input type="date" class="form-control" placeholder="DOB" formControlName="date_of_birth">
												<div class="alert alert-danger"
													*ngIf="shareholder.controls[i].controls.date_of_birth?.invalid && shareholder.controls[i].controls.date_of_birth.touched">
													Enter DOB
												</div>
											</div>
											<div class="col-sm-4">
												<input type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true" class="form-control" placeholder="Mobile" formControlName="contact_number">
												<div class="alert alert-danger"
													*ngIf="shareholder.controls[i].controls.contact_number?.invalid && shareholder.controls[i].controls.contact_number.touched">
													<div *ngIf="shareholder.controls[i].controls.contact_number.errors.required">
											  		Enter phone number
											  		</div>
											  		<div *ngIf="shareholder.controls[i].controls.contact_number.errors.pattern">
											  		Please enter a 10 digit number
											  	</div>
												</div>
											</div>
											<div class="col-sm-4">
												<input type="text" class="form-control" placeholder="Email" formControlName="email">
												<div class="alert alert-danger"
													*ngIf="shareholder.controls[i].controls.email?.invalid && shareholder.controls[i].controls.email.touched">
													Enter Valid Email
												</div>
											</div>
											
											<div class="col-sm-6">
												<select class="custom-select" formControlName="nationality">
												  <option selected>Select Nationality</option>
												  <option *ngFor="let country of contries" value={{country.id}}>
												  	{{country.name}}
												  </option>
												  <div class="alert alert-danger"
													*ngIf="shareholder.controls[i].controls.address.controls.nationality?.invalid && shareholder.controls[i].controls.address.controls.nationality.touched">
													Select Nationality
												  </div>
												</select>
											</div>
											
											<div class="col-sm-6">
												<input type="text" class="form-control" placeholder="Father's Name" formControlName="fathers_name">
												<div class="alert alert-danger"
													*ngIf="shareholder.controls[i].controls.fathes_name?.invalid && shareholder.controls[i].controls.fathers_name.touched">
													Enter Father's Name
												</div>
											</div>
											<div class="col-sm-6">
												<input type="text" class="form-control" placeholder="Mother's Name" formControlName="mothers_name">
												<div class="alert alert-danger"
													*ngIf="shareholder.controls[i].controls.mothers_name?.invalid && shareholder.controls[i].controls.mothers_name.touched">
													Enter Mother's Name
												</div>
											</div>
										</div>
									</div>
								</div>								
								<button type="button" class="add-shareholder-link" [disabled]="shareholder?.invalid" (click)="addSh()"><i class="fas fa-plus"></i> <strong>Add Shareholder</strong></button>&nbsp;
								<button *ngIf="shareholder.controls.length >2 "
								type="button" class="add-shareholder-link" (click)="removeSh(i)"><i class="fas fa-minus"></i> <strong>Remove Shareholder</strong></button>

							</div> <!-- end of individual shareholder information -->
						</div> 
					</form>
			
					<p class="text-right">
						<button type="submit" class="btn btn-primary" role="button" (click)="onSubmit()">SAVE &amp; NEXT</button>
					</p>		
				</div>
			</div>
		</div>