#upload{
    text-decoration:none;
}
#upload-file{
    display:none
}


 label{
    padding: 10px;
    background: none; 
    display: table;
    color: #fff;
     }
     input[type="file"] {
    display: none;
}


.prev{
	display:block;
	margin-right:35px;
	clear:right;
}

.pageNext{
	display:block;
	margin-left:53px;
}