
<div class="page-content" id="create-company">
	<div class="container">
		<div class="page-header">
			<h2>CREATE COMPANY</h2>
			<h3>INCORPORATION DETAILS</h3>
		</div>
		<div class="white-container">
			<ul class="nav nav-pills create-company-steps">
				<li class="step step1 completed">
					<a title="step1">
						CLIENT<br/>DETAILS
					</a>
				</li>
				<li class="step step2 active">
					<a routerLink="/createCompany2" title="step2">
						INCORPORATION<br/>DETAILS
					</a>
				</li>
				<li class="step step3">
					<a routerLink="/createCompany3" title="step3">
						INTELLECTUAL<br/>PROPERTY
					</a>
				</li>
				<li class="step step4">
					<a routerLink="/createCompany4" title="step4">
						CAPITALIZATION, SHAREHOLDERS<br/>&amp; DIRECTORS
					</a>
				</li>
				<li class="step step5">
					<a routerLink="/createCompany5" title="step5">
						UPLOAD<br/>DOCUMENTS
					</a>
				</li>
			</ul>
			<form id="form-create-company-step2" class="form-create-company" [formGroup]="incorporationDetails" novalidate>
				<div class="form-group row">
					<label for="proposed-company-name" class="col-sm-3 col-form-label">Proposed Name of Company </label>
					<div class="col-sm-9">

						<input type="text" class="form-control" id="proposed-company-name" formControlName="name">
						<i class="fa fa-info-circle context-specific-info" aria-hidden="true"></i>
						<span class="context-specific-info">name to have a word reflecting the business activity (For Name Special character ("!@#$%^&*()") are not allow.)</span>
						<div class="alert alert-danger"
						*ngIf="incorporationDetails.get('name').invalid && incorporationDetails.get('name').touched">
						Enter company name

					</div>
				</div>

			</div>
			<div class="form-group row company-industry">
				<label for="client-address-1" class="col-sm-3 col-form-label">Company Industry<br/>(Tick all that apply)</label>
				<div class="col-sm-9" >
					<div class="row" formArrayName="industry_type">
						<div class="col-6 col-md-3" *ngFor="let ind of industry" >
							<label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" (change)="onChange(ind, $event.target.checked)">
								<span class="custom-control-indicator"></span>
								<span class="custom-control-description">{{ind}}</span>
							</label>
						</div>
						<div class="form-group row company-industry-other">
							<label for="company-industry-other" class="col-3 col-md-4 col-form-label">Other (Specify):</label>
							<div class="col-9 col-md-8">
								<input type="text" class="form-control" id="company-industry-other" (change)="onChange($event.target.value, true)">
							</div>
						</div>
					</div>
				</div>

				<div class="alert alert-danger"
				*ngIf="incorporationDetails.get('industry_type').invalid && incorporationDetails.get('industry_type').touched">
				Select one of the option
			</div>
		</div>

		<div class="form-group row property-type">
			<label for="" class="col-sm-3 col-form-label">Where will your company do business in India</label>
			<div class="col-sm-9">
				<label class="custom-control custom-radio">
					<input type="radio" value="Owned" class="custom-control-input" formControlName="property_type">
					<span class="custom-control-indicator"></span>
					<span class="custom-control-description">Owned Property</span>
				</label>

				<label class="custom-control custom-radio">
					<input type="radio" value="Rented" class="custom-control-input" formControlName="property_type">
					<span class="custom-control-indicator"></span>
					<span class="custom-control-description">Rented Property</span>
				</label>
				<div class="alert alert-danger"
				*ngIf="incorporationDetails.get('property_type').invalid && incorporationDetails.get('property_type').touched">
				Select property
			</div>
		</div>
	</div>
	<div class="form-group row client-address">
		<label for="client-address-1" class="col-sm-3 col-form-label">Registered office address</label>
				<div class="col-sm-9">
	<app-address [address]="incorporationDetails.get('address')"></app-address>
</div>
</div>
<div class="form-group row">
	<label for="business-description" class="col-sm-3 col-form-label">Business Description /<br/> Main Objective<br/>(in 5 - 10 lines) </label>
	<div class="col-sm-9">
		<textarea class="form-control" id="business-description" rows="5" formControlName="description"></textarea>
		<div class="alert alert-danger"
		*ngIf="incorporationDetails.get('description').invalid && incorporationDetails.get('description').touched">
		Enter company description
	</div>
</div>
</div>

</form>

<p class="text-right">
	<button type="submit" class="btn btn-primary" role="button" (click)="saveInfo()">  SAVE &amp; NEXT</button>
</p>		
</div>
</div>
</div>
