
<div class="page-content" id="event-workflow-details">
	<div class="container">
		<div class="page-header">
			<h2>EVENT WORKFLOW</h2>
			<h3>{{process}}</h3>

		</div>

		<div class="white-container" >			
			<a class="step-faq" id="step-one-faq" placement="left" triggers="mouseenter:mouseleave" [ngbPopover]="remark">&nbsp;</a>

			<a href="#" class="steps-all" role="button" data-toggle="modal" data-target="#workflow-steps-listing-modal">&nbsp;</a>
			
			<form [formGroup]="activityForm"  id="form-workflow-details-right-of-issue-of-shares" 			novalidate>
				<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1"
				[speed]="200" [showSpinner]="false" [direction]="'leftToRightIncreased'"
				[color]="'red'" [trickleSpeed]="250" [thick]="false" [ease]="'linear'"
				></ng-progress>
				<div class="form-group row step-number-container">
					<p class="col-md-2 step-number" id="step-one">Step {{stepId}}</p>
				</div>
				<input type="text" readonly class="form-control-plaintext align-text-bottom" id="error-msg" [value]="screenError">

				<div class="offset-md-2 col-md-10 col-lg-8">
					<h4 class=""><strong>{{activity}} {{meetingSerial}}</strong></h4>
					
					<br>
					<div *ngIf="! objectProps">Loading ... </div>
					<!-- Iterate over controls got from database html configuration -->
					<div *ngFor="let prop of objectProps">
						<!-- Case to find control types (ex. radio, checkbox, text, button, file) -->
						<div [ngSwitch]="prop.type">
							<!-- Show label for control -->
							<div *ngIf="(id==29 && prop.key=='address') && !callingEvent else showlabel">
								<!-- <label [attr.for]="prop">{{prop.label}}</label> -->
							</div>
							<ng-template #showlabel>
							<label [attr.for]="prop">{{prop.label}}</label>

						</ng-template>
							<!-----   Radio Control     ------>
							<div *ngSwitchCase="'radio'">
								<div class="form-group">

									<label class="custom-control custom-radio" *ngFor="let option of prop.options">
										<span *ngIf="option.function else nofunc">
											<input type="radio" [name]="prop.key" [formControlName]="prop.key"
											[value]="option.value" class="custom-control-input" (click)="onRadioClick(prop.key,option.value)" (click)="this[option.function](option.value,prop.key)">
											<span class="custom-control-indicator"></span>
											<span class="custom-control-description">{{option.name}}</span>
										</span>
										<ng-template #nofunc>
											<input type="radio" [name]="prop.key" [formControlName]="prop.key"
											[value]="option.value" class="custom-control-input" (click)="onRadioClick(prop.key,option.value)">
											<span class="custom-control-indicator"></span>
											<span class="custom-control-description">{{option.name}}</span>
										</ng-template>
										
									</label>								

									<div *ngIf="!prop.options">
										<label class="custom-control custom-radio" *ngFor="let option of directors">
											<input type="radio" [name]="prop.key" [formControlName]="prop.key"
											[value]="option.id" class="custom-control-input" (click)="onRadioClick(prop.key,'director')"> 
											<span class="custom-control-indicator"></span>
											<span class="custom-control-description">{{option.first_name}}</span>
										</label>
										<label *ngIf="id != 112" class="custom-control custom-radio">
											<input type="radio" [name]="prop.key" [formControlName]="prop.key"
											value="secretory" class="custom-control-input" (click)="onRadioClick(prop.key,'secretory')"> 
											<span class="custom-control-indicator"></span>
											<span class="custom-control-description">Company Secretory</span>
										</label>
									</div>
								</div>
								<div *ngIf="showaddr && prop.key=='date'" style="padding-bottom: 10px;">
									<input type="text" class="form-control" [value]="null" [formControlName]="prop.key" placeholder="Enter Address">
								</div>
								<div *ngIf="showserial && prop.key=='descr'">
									<input type="text" class="form-control" [value]="null" [formControlName]="prop.key" placeholder="Enter serial number" >
								</div>
								<div *ngIf="showsecretory && (prop.key=='serial' || prop.key=='upload')" style="padding-bottom: 10px;">
									<input type="text" class="form-control" [value]="null" [formControlName]="prop.key" placeholder="Enter Company Secretory Name">
								</div>
							</div>

							<!-----------    Checkbox Control ----------------->
							<div *ngSwitchCase="'checkbox'">
								<div class="form-group">
									<div *ngIf="prop.stakeholder">
										<label class="custom-control custom-checkbox" *ngFor="let name of stakeholders; let i=index;">

											<input type="checkbox" class="custom-control-input" [value]="prop.value" [formControlName]="prop.key" (change)="onChange(name.id, $event.target.checked)">
											<span class="custom-control-indicator"></span>
											<span class="custom-control-description">{{name.first_name}}</span>

										</label>
									</div>
									<div *ngIf="prop.options">
										<label class="custom-control custom-checkbox" *ngFor="let option of prop.options; let i=index;">
											<input type="checkbox" class="custom-control-input" [value]="option.value" [formControlName]="prop.key" (change)="checkOption(prop.key, $event)">
											<span class="custom-control-indicator"></span>
											<span class="custom-control-description">{{option.name}}</span>

										</label>
									</div>
									<div *ngIf="!prop.stakeholder && !prop.options">
										<label class="custom-control custom-checkbox" *ngFor="let name of directors; let i=index;">
											<input type="checkbox" class="custom-control-input" [value]="prop.value" [formControlName]="prop.key" (change)="onChange(name.id, $event.target.checked)">
											<span class="custom-control-indicator"></span>
											<span class="custom-control-description">{{name.first_name}}</span>

										</label>
									</div>
									<div *ngIf="prop.key == 'address_1' && showbodycorporate" style="margin-top: 10px;">
										<input type="text" class="form-control" [value]="null" [formControlName]="prop.key" (keydown.enter)="checkEmail(prop.key,$event)" (keydown.tab)="checkEmail(prop.key,$event)" (change)="checkEmail(prop.key,$event)"
										placeholder="Enter Body Corporate email">
										<span *ngFor="let e of bodyEmail">
											{{e}}<i class="fas fa-window-close" (click)="removeBodyEmail(e)"></i>
											<br>
										</span>
									</div>			
								</div>
							</div>

							<!----------  Text box control   -------------->
							<div class="form-group" *ngSwitchCase="'text'">
								<span *ngIf="prop.key == 'company' else othertext">
									<input type="text" class="form-control" value="Name" [formControlName]="prop.key" (keydown.enter)="checkEmail(prop.key, $event)" (keydown.tab)="checkEmail(prop.key, $event)" (change)="checkEmail(prop.key, $event)"
									[placeholder]="prop.placeholder">
									<span *ngFor="let e of bodyEmail">
										{{e}}<i class="fas fa-window-close" (click)="removeBodyEmail(e)"></i>
										<br>
									</span>
								</span>
								<ng-template #othertext>
									<input type="text" class="form-control" value="Name" [formControlName]="prop.key" [placeholder]="prop.placeholder">
								</ng-template>
							</div>

							<!-------- Select control ------------------->
							<div class="form-group" *ngSwitchCase="'select'">

								<div  *ngIf="prop.key == 'agendas'; else selectnext">
									<select2 id="e1" [data]="exampleData" [options]="options" [width]="400" [value]="agendaArray"
									[formControlName]="prop.key" (valueChanged)="changed1($event)" ngDefaultControl >
								</select2>
							</div>

							<div  *ngIf="(prop.key == 'meeting')||(prop.key == 'address'); else selectnext">
								<div *ngIf="(id==29 && prop.key=='address') && !callingEvent else showselect">
						</div>
						<ng-template #showselect>
								<select2 [data]="allAgenda" [options]="options" [width]="500" [value]="allAgendaArray"
								[formControlName]="prop.key" (valueChanged)="changed2($event)" ngDefaultControl >
							</select2>
						</ng-template>
						</div>

						<div  *ngIf="prop.key == 'date_1'; else selectnext">
							<select2  [data]="exampleData" [options]="options" [width]="500" [value]="agendaArray" [formControlName]="prop.key" (valueChanged)="changed($event)" ngDefaultControl >
							</select2>
						</div>
						<div class="form-group">
								<!-- <div *ngIf="prop.key=='date_1'">
									<div *ngIf="showmatter">
										<input type="text" class="form-control" placeholder="Enter Matter to be transected" (change)="selectOther($event.target.value)" (change)="addAgenda()">
									</div>
								</div> -->
								<select class="custom-select" [formControlName]="prop.key" *ngIf="prop.key=='director'" (change)="onChangeCheck(prop.key,$event.target.value)">
									<option value="" selected="true" disabled="disabled">Select Board Meeting</option>
									<option *ngFor="let id of bmSerials" [value]="id[1]">
										{{id[0]}}
									</option>
								</select>

							</div>

						</div>

						<!-------- DateTime control -------------------->
						<div *ngSwitchCase="'datetime-local'">
							<div class="form-group">

								<input class="form-control" type="datetime-local" name="meetingdate" style="width: 50%" [min]="today" [value]="today" [formControlName]="prop.key" (change)="dateValidator($event.target.value)">
							</div>
							
						</div>

						<!-------------- Button control ----------------------->
						<div class="form-group" *ngSwitchCase="'button1'">
							<button type="button" (click)="this[prop.function](prop.doc_id)">{{prop.name}}</button>
						</div>
						<!--------------- Textarea control ------------------->
						<div class="form-group" *ngSwitchCase="'textarea'">
							<textarea [rows]="prop.row" class="form-control" value="Name" [formControlName]="prop.key" 
							[placeholder]="prop.placeholder"></textarea>
						</div>					
						<!-------------- Custon control (Includes any control)--------------------->
						<div *ngSwitchCase="'customcheckbox'" >
							<table class="form-group"> 

								<tr *ngFor="let option of prop.options; let i=index; ">

									<td valign="top">
										<label class="custom-control"><strong>{{option.doc}}</strong></label>
									</td>

									<td valign="top">
										<div *ngIf="option.download">
											<a id="download" href="javascript:void(0)" (click)="download()"><i class="fas fa-download" >DOWNLOAD</i></a>
										</div>
										<div *ngIf="option.link">
											<a [href]="option.link" target="_blank"><i>link to form</i></a>
										</div>
									</td>

									<td valign="top" class="form-group row document-upload-block">
										<div *ngIf="option.upload">
											<span *ngIf="prop.use == 'filling'">
												<a class="btn btn-secondary  document-upload" role="button" id="button{{i+1}}" >Upload Document<span class="input-group-addon"><img src="assets/images/eye-2.png"></span></a>
												<label class="uploads">
													<input type="file" id="resi{{i+1}}" [formControlName]="prop.key" (change)="uploadFilling(option.name,$event.target.files)">
												</label>
											</span>
										</div>
									</td>
								</tr>
							</table>							
						</div>			
						<!---------------File upload control ---------------------->
						<div class="form-group" *ngSwitchCase="'file'">
							<div *ngIf="prop.use=='board_meeting'">
								<a class="btn btn-secondary  document-upload" role="button" id="button" >{{prop.title}}<span class="input-group-addon"><img src="assets/images/eye-2.png"></span></a>
								<label class="uploads">
									<input type="file" id="resi" [formControlName]="prop.key" (change)="uploadAgendaFiles(prop.name,$event.target.files)">
									<div *ngIf="prop.options">
										<span *ngFor="let option of prop.options">
											<button type="button" (click)="this[option.function]()">{{option.name}}</button>
										</span>
									</div>
								</label>							

								<br>
								<span *ngIf="uploadedFile">File Uploaded<a href="javascript:void(0)" (click)="showFiles(prop.name,uploadedFile)">link to file</a></span>	
							</div>

							<div *ngIf="prop.use=='egm_meeting'">
								<a class="btn btn-secondary  document-upload" role="button" id="button" >{{prop.title}}<span class="input-group-addon"><img src="assets/images/eye-2.png"></span></a>
								<label class="uploads">
									<input type="file" id="resi" [formControlName]="prop.key" (change)="uploadAgendaFiles(prop.name,$event.target.files)">
									<div *ngIf="prop.options">
										<span *ngFor="let option of prop.options">
											<button type="button" (click)="this[option.function]()">{{option.name}}</button>
										</span>
									</div>
								</label>
								<br>
								<span *ngIf="uploadedFile">File Uploaded <a href="javascript:void(0)" (click)="showFiles(prop.name,uploadedFile)">link to file</a></span>	
							</div>

							<div *ngIf="prop.use=='agm_meeting'">
								<a class="btn btn-secondary  document-upload" role="button" id="button" >{{prop.title}}<span class="input-group-addon"><img src="assets/images/eye-2.png"></span></a>
								<label class="uploads">
									<input type="file" id="resi" [formControlName]="prop.key" (change)="uploadAgendaFiles(prop.name,$event.target.files)">
									<div *ngIf="prop.options">
										<span *ngFor="let option of prop.options">
											<button type="button" (click)="this[option.function]()">{{option.name}}</button>
										</span>
									</div>
								</label>
								<br>
								<span *ngIf="uploadedFile">File Uploaded <a href="javascript:void(0)" (click)="showFiles(prop.name,uploadedFile)">link to file</a></span>	
							</div>




							<div *ngIf="prop.use=='resolution'">
								<a class="btn btn-secondary  document-upload" role="button" id="button" >{{prop.title}}<span class="input-group-addon"><img src="assets/images/eye-2.png"></span></a>
								<label class="uploads">
									<input type="file" id="resi" [formControlName]="prop.key" (change)="uploadResolution($event.target.files)">
								</label>
								<br>
								<span *ngIf="uploadedFile">File Uploaded</span>	
							</div>

							
							<div *ngIf="!prop.use">
								<a class="btn btn-secondary  document-upload" role="button" id="button" >Upload Document<span class="input-group-addon"><img src="assets/images/eye-2.png"></span></a>
								<label class="uploads">
									<input type="file" id="resi" [formControlName]="prop.key" (change)="handleFileInput($event.target.files)" multiple>
									<div *ngIf="prop.options">
										<span *ngFor="let option of prop.options">
											<button type="button" (click)="this[option.function]()">{{option.name}}</button>
										</span>
									</div>
								</label>
								<br>
								<span *ngIf="uploadedFile">File Uploaded</span>	
							</div>
						</div>

						
						<!-------------- Validation message control -------------------------------->		
						<div class="alert alert-danger" *ngIf="activityForm.get(prop.key)?.invalid && (activityForm.get(prop.key)?.dirty || activityForm.get(prop.key)?.touched)">
							<div *ngIf="activityForm.get(prop.key)?.errors.required">
								<span *ngIf="prop.label; else notlabel">
									{{ prop.label }} is required.
								</span>
								<ng-template #notlabel>
									Select valid option.
								</ng-template>
							</div>
							<div *ngIf="activityForm.get(prop.key)?.errors.incorrect">
								<span *ngIf="prop.label; else notlabel">
									{{ prop.label }} is invalid.
								</span>
							</div>
							<div *ngIf="activityForm.get(prop.key)?.errors.email">
								Invalid email.
							</div>
						</div>
					</div>
				</div>

				<!-------------------- Show resolution custom design------------------------>
				<div *ngIf="!showResolution" style="color: red">
					{{resolutionList}}
				</div>			
				<div *ngIf="showResolution">

					<table class="table">
						<thead>
							<tr>
								<th>Meeting No.</th>
								<th>Date</th>
								<th>Issued To</th>
								<th>Reason</th>
								<th>Document</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let res of objectKeys(resolutionList);let i=index; ">
								<td>{{meetingSerial}}</td>
								<td>{{resolutionList[res]['date']}}</td>
								<td>{{resolutionList[res]['issueto']}}</td>
								<td>{{resolutionList[res]['reason']}}</td>
								<td>
									<a href="javascript:void(0)" (click)="showResDoc(resolutionList[res]['file'])">Download</a>
								</td>
							</tr>

						</tbody>

					</table>
				</div>				
			</div>
			<hr>
		</form>

			<!--<strong>Form Value</strong>
			<pre>{{ activityForm?.value | json }}</pre>
			<strong>Form is valid:</strong> {{activityForm?.valid}}-->

			<p class="text-center">
				<a class="btn btn-primary btn-with-icon btn-cancel" routerLink="/dashboard" role="button">CANCEL</a>
				<a class="btn btn-primary btn-with-icon btn-save" href="javascript:void(0)" role="button"(click)="onSubmit()">NEXT</a>
				<!-- <button type="button" class="btn btn-primary btn-with-icon btn-save" (click)="onSubmit()">NEXT</button> -->
			</p>
			<nav>
				<ul class="pagination justify-content-center" >
					<li class="page-item">
						<a class="page-link previous" routerLink="" (click)="previousActivity()" aria-label="Previous">
							<span aria-hidden="true"><i class="fa fa-angle-double-left fa-lg" aria-hidden="true"></i></span>
							<span class="sr-only">Previous</span>
						</a>
					</li>
					
					<li class="page-item"><a class="page-link active" href="#">&nbsp;</a></li>
					<li class="page-item"><a class="page-link" href="#">&nbsp;</a></li>
					<li class="page-item"><a class="page-link" href="#">&nbsp;</a></li>
					
					<li class="page-item">
						<a class="page-link next" routerLink="" (click)="nextActivity()" aria-label="Next">
							<span aria-hidden="true"><i class="fa fa-angle-double-right fa-lg" aria-hidden="true"></i></span>
							<span class="sr-only">Next</span>
						</a>
					</li>
					
				</ul>
			</nav>		
		</div>
	</div>
</div>

<!-- Popup for workflow steps -->
<div class="modal fade" id="workflow-steps-listing-modal" tabindex="-1" role="dialog" aria-labelledby="steps-listing-id" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div id="">
				<div class="modal-header">
					<h5>Workflow Steps Listing - {{process}}</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<i class="fa fa-times" aria-hidden="true"></i>  
					</button>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<div class="row">
							<div class="col-12 tile-colour-1">
								<div class="steps-listing">
									<ul *ngIf="steps else nosteps">
										<li *ngFor="let step of steps; let i=index; ">
											<span class="label">Step {{i+1}}</span>
											
											<span class="data" *ngIf="step.company_activity.status == 'Complete' || step.company_activity.status == 'Ongoing' else incomplete"><a href="javascript:void(0)" (click)="navigateActivity(step.activity.id)">{{step.activity.name}}</a></span>

											<ng-template #incomplete>
												<span class="data">{{step.activity.name}}</span>
											</ng-template>
											<span class="status" *ngIf="step.company_activity.status == 'Incomplete'"><i style="color: red;">{{step.company_activity.status}}</i></span>
											<span class="status" *ngIf="step.company_activity.status == 'Ongoing'"><i style="color: black;">{{step.company_activity.status}}</i></span>
											<span class="status" *ngIf="step.company_activity.status == 'Complete'">
												{{step.company_activity.status}}</span>
											
										</li>
									</ul>
									<ng-template #nosteps>
										This process is completed
									</ng-template>
								</div>
							</div>
						</div> <!-- End Row -->						
					</div>	
				</div>					
				<div class="modal-footer">
				</div>
			</div>
		</div>
	</div>	
</div>		









