
.popover {
	max-width: 500px;
}

     input[type="file"] {
    display: none;
}


  input[type="datetime-local"]::-webkit-calendar-picker-indicator{
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url("../../../../assets/images/calender.png") no-repeat;    
    width: 20px;
    height: 19px;
    border-width: thin;
   }



.ng-progress-bar {
  top: calc(100% - 2px) !important;

  /** or 3px for if [thick]=true */
  top: calc(100% - 3px) !important;
}

.spinner {
  top: unset !important;
  bottom: 15px;
}


