<div class="page-content" id="create-company">
	<div class="container">
		<div class="page-header">
			<h2 *ngIf="status == 'close'">COMPLETED EVENT</h2>
			<h2 *ngIf="status == 'open'">ONGOING EVENT</h2>
			<h3 class="page-num">PAGE <span class="current-page">{{pager.currentPage}}</span> of <span class="total-page-count">{{pager.totalPages}}</span></h3> 
		</div>
		<div class="white-container clearfix">
			<button routerLink="/dashboard">back</button>
			<form class="form-inline search-box">
				<input class="form-control" type="search" [(ngModel)]="searchText" name="searchText" placeholder="Search within Event">
				<a title="Search"><i class="fas fa-search"></i></a>
			</form>

			<div class="table-responsive workflow-log">

				<table class="table">

					<thead>
						<tr>
							<th class="col1">Event ID</th>
							<th class="col2">Event Name</th>
							<th class="col3">Event Start Date</th>
							<th class="col4">BM Status</th>
							<th class="col5">EGM Status</th>
							<th class="col6">Filling Documents</th>
							</tr>
						</thead>

						<tbody>
							<tr *ngFor=" let data of pagedItems | search: searchText; let i=index; ">

								<td *ngIf="status == 'open'; else closed" class="col1"><span class="table-cin"><a href="javascript:void(0)" (click)="goto(data.company_process.id)">{{i+1}}</a></span></td>
								<ng-template #closed>
									<td class="col1"><span class="table-cin">{{i+1}}</span></td>
								</ng-template>
								<td class="col2"><span class="table-workflow-id">{{data.process.name}}</span></td>
								<td class="col3">{{data.company_process.created_on}}</td>
								<td class="col4">
									<a *ngIf="data.company_process.board_meeting != null; else empty" href="javascript:void(0)" (click)="gotoMeeting(data.company_process.board_meeting)">
									BM
									</a>
									<ng-template #empty>
										<span>Not available</span>
								
									</ng-template>	
									</td>
							<td class="col5">
								<a *ngIf="data.company_process.egm != null; else empty1" href="javascript:void(0)" (click)="gotoMeeting(data.company_process.egm)">
								EGM
							</a>
									<ng-template #empty1>
										<span>Not available</span>
								
									</ng-template>	
							</td>
								

								<td class="col6 notify text-center" >
									<span *ngIf="data.company_process.filling_document != null;else empty2 ">
										<span *ngFor="let f of objectKeys(data.company_process.filling_document)">
									<a href="javascript:void(0)"  (click)="showFiles(f,data.company_process.filling_document[f]['file'])">{{f}}</a>
									</span>
									</span>
									<ng-template #empty2>
										<span>Not available</span>
								
									</ng-template>							  	
								</td>
						</tr>

					</tbody>
				</table>
			</div>
			<hr>
			<nav>
				<ul class="pagination justify-content-center">
					<li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
						<a class="page-link previous" aria-label="Previous" href="javascript:void(0)" (click)="setPage(pager.currentPage - 1)">
							<span style="display:block;margin-right:35px;clear:right" aria-hidden="true"><i class="fa fa-angle-double-left fa-lg" aria-hidden="true"></i></span>
							
						</a>
					</li>
					
					<li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
						<a href="javascript:void(0)" (click)="setPage(page)">{{page}} &nbsp;</a>
					</li>
					<li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
						<a class="page-link next" aria-label="Next" href="javascript:void(0)" (click)="setPage(pager.currentPage + 1)">
							<span style="display:block;margin-left:53px" aria-hidden="true"><i class="fa fa-angle-double-right fa-lg" aria-hidden="true"></i></span>
							
						</a>
					</li>
				</ul>
			</nav>
			
</div>
</div>
